.confirmation-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 70vh;
    align-items: center;
    justify-content: center;

    .left{
        width: 50%;
    }
    .right{
        width: 50%;

        .car-details{
            margin-bottom: .5em;
        }
        .pickup{
            margin: .5em 0;
            color: var(--CallAmbulance);

            span{
                font-size: large;
                font-weight: 300;
                margin-left: .5em;
                color: white;
            }
        }
    }
}
