.card{
    margin: 1rem .5rem;
    background-color: var(--CardBody);
    width: 20em;
    height: 17.5em;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px 2px rgba(113, 106, 106, 0.4);
    cursor: pointer;
}

.ambulance-image{
    width: 100%;
    // border-radius: 1rem 1rem 0 0 ;
}
.data{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1.75rem;
}
.car-name{
    font-weight: 500;
    
}
.price{
    color: rgb(255, 255, 255, 0.5);
}