.payment-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1.25em 2em;
    background-color: antiquewhite;

    select{
        font-size: 1.2rem;
        font-weight: 700;
        padding: 1em;
        border-radius: .5em;
        background-color: transparent;
        border: none;
    }
    select:hover{
        cursor: pointer;
    }
}

.payment-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    h3{
        font-size: 1.75rem;
        margin-right: 1.2em;
        color: black;
    }
}