// :root {
//   --NavbarBakcground: #D9D9D9; /*Also for tab switcher */
//   --BackgroundColor: #C6D4CC;
//   --CardImgBackground: #b0cbfb;
//   --CardBody: rgba(46, 66, 77, 0.75);
//   --CallAmbulance: #D24C54;
//   --TabActive: #38b7ff;
//   --TabInactive: #67686d;
//   --GreenColor: #2FA561;
// }

.home-container{
  .outer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .left-container {
    grid-column: 1 / 2;
    margin: 5em 3em;
    translate: 0 2em;
  
    h1 {
      padding-bottom: 0.7em;
    }
    p {
      font-size: large;
      line-height: 1.5;
      margin-bottom: 1.5em;
    }
  }
  .home-confirm-btn{
    scale: 1.2;
    translate: 0 2em;
  }
  .right-container {
    grid-column: 2 / 3;

    &::before{
      content: " ";
      height: 250px;
      width: 250px;
      // background-color: #00ff6afb;
      background-color: #f5b12a;
      z-index: -1;
      position: absolute;
      top: 52%;
      right: 25%;
      translate: 50% -50%;
      filter: blur(150px);
    }

    .home-illustration{
      scale: 0.7;
      // position: absolute;
      // top: -2em;
      translate: 0 -10%;
    }
  }

  
  .info {
    cursor: pointer;
    position: fixed;
    bottom: .5em;
    right: .75em;
    background-color: rgba(255, 255, 255, 0.532);
    border-radius: 50%;
  }

  .emergency-btn{
    margin-bottom: 1em;
  }
  @media (min-width: 1080px) {
    .emergency-btn{
      position: absolute;
      bottom: 20px;
    }
  }
}


